<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>Adding new comment</h1>
    <form action="/comments" method="post">
        <label for="username">Username : </label>
        <input type="text" id="username" placeholder="username here" name="username">
        <label for="comment">Comment : </label>
        <input type="text" id="comment" placeholder="comment here" name="comment">
        <button>Submit</button>
    </form>
    <button>
        <a href="/comments">Back</a>
    </button>
</body>

</html>